/* Contenedor principal */
.adicionales-page {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../assets/CarouselFachada.jpg'); /* Reemplaza con tu imagen */
  background-size: cover; /* Cubre todo el contenedor */
  background-position: center; /* Centra la imagen */
  color: white; /* Texto en blanco */
  height: 100%; /* Ocupa toda la altura de la pantalla */
  padding: 90px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  
  .row {
    margin: 0; /* Elimina m치rgenes externos de filas */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
  }
  
  .col-md-6 {
    margin: 0; /* Evita m치rgenes entre columnas */
  }
  
  .card {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    background-position: center; /* Centra la imagen */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    height:180px;
    margin: 0; /* Elimina m치rgenes internos */
  }
  
  
  
  .title {
    padding-bottom: 40px;
    font-size: 3.2rem;
    margin: 0 0 0px 0; /* M치rgenes controlados */
    text-align: center;
  }
  
  