.bg-dark{
    background-color: #134375 !important;
}
.navbar-nav .nav-link {
    color: #fff;
    padding: 0.5rem 1rem;
  }
  
  .navbar-nav .nav-link:hover {
    color: #9bea7e; /* Cambia el color cuando pasas el mouse */
  }
  